<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dokle</title>
    <link rel="icon" type="image/png" href="../../Content/profilne/34.jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/animate.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/icomoon.css")
    @Styles.Render("~/Content/magnific-popup.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/themify-icons.css")

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/js/jquery.waypoints.min.js")
    @Scripts.Render("~/js/jquery.stellar.min.js")

    @Scripts.Render("~/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/js/jquery.easypiechart.min.js")
    @Scripts.Render("~/js/jquery.easing.1.3.js")
    @Scripts.Render("~/js/jquery.countTo.js")
    @Scripts.Render("~/js/typed.js")
    @Scripts.Render("~/js/respond.min.js")
    @Scripts.Render("~/js/owl.carousel.min.js")
    @Scripts.Render("~/js/modernizr-2.6.2.min.js")
    @Scripts.Render("~/js/magnific-popup-options.js")


    @Scripts.Render("~/js/bootstrap.min.js")
    @Scripts.Render("~/js/main.js")

    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">-->
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


    <div id="page">
        <nav class="my-nav" role="navigation">
            <div class="my-container">
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div id="my-logo"><a href="index.html"><img src="../../Content/profilne/34.jpeg" width="50px" height="40px"></a></div>
                    </div>
                    <div class="col-xs-10 col-md-10 text-right menu-1 main-nav">
                        <ul>
                            <li class="active"><a href="#" data-nav-section="home">Početna</a></li>
                            <li><a href="#" data-nav-section="features">Kako ovo radi ?</a></li>
                            <li><a href="#" data-nav-section="how-it-works">Mobilna app</a></li>
                            <li><a href="#" data-nav-section="faq">FAQ</a></li>
                            <li><a href="#" data-nav-section="contact">Kontakt</a></li>
                            <li><a href="/Korisnik/Login" class="external" title="You will be navigated to the external pages">Login</a></li>
                            <li class="btn-cta"><a href="/Korisnik/AddOrEdit" class="external" title="You will be navigated to the external pages"><span>Registruj se</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <div id="my-header" data-section="home" class="my-cover header-fixed" role="banner" style="background-image:url(../../Content/profilne/34.jpeg);">
            <div class="overlay"></div>
            <div class="my-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-center">
                        <div class="display-t">
                            <div class="display-tc">
                                <div class="naslovnaPoruka">
                                    <div id="typed-strings"></div>
                                    <span id="typed"></span>
                                </div>
                                <p class="animate-box" data-animate-effect="fadeIn"><a href="signup.php" class="btn btn-primary btn-lg">Registruj se</a></p>
                                <!--<p class="my-video-link animate-box" data-animate-effect="fadeIn"><a href="" class="popup-vimeo"><i class="icon-controller-play"></i>Pogledajte video</a></p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="my-features" class="border-bottom" data-section="features">
            <div class="my-container">
                <div class="row">
                    <div class="col-md-12 text-center my-heading">
                        <h2>Trougao svestrane koristi</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center">
                            <span class="icon">
                                <i class="ti-user"></i>
                            </span>
                            <h3>Putnici</h3>
                            <p>Putniku je potreban prijevoz na određenoj relaciji. Taj prijevoz ce dobiti registracijom na dokle.ba portalu, pretragom i dogovorom sa prijevoznikom.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center">
                            <span class="icon">
                                <i class="ti-car"></i>
                            </span>
                            <h3>Prijevoznici</h3>
                            <p>Prijevoznik ce nuditi i vršiti prijevoz registracijom na dokle.ba portalu i dogovorom sa putnikom. Za prijevoznika to nije dodatni trošak jer ce se dogovarati sa putnicima koji idu u istom pravcu kao i prijevoznik.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center">
                            <span class="icon">
                                <i class="ti-bar-chart"></i>
                            </span>
                            <h3>Sponzori</h3>
                            <p>Sponzori ce imati korist od reklama i dodatnih klijenata. Obaveze prema klijentima ce biti u skladu sa dogovorom o vrijednosti tokena, te naknadama za tokene.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="my-section border-bottom" id="how-it-works" data-section="how-it-works">
            <div class="my-container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="my-heading">
                            <h2 class="my-left">Kako ovo radi ?</h2>
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="feature-left">
                                    <span class="icon">
                                        <i class="icon-check"></i>
                                    </span>
                                    <div class="feature-copy">
                                        <p>Da li ste ikada razmišljali o nacinu na koji možete pomoci svojim sugrađanima, a da za vas to ne predstavlja dodatni trošak? </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <span class="icon">
                                        <i class="icon-check"></i>
                                    </span>
                                    <div class="feature-copy">
                                        <p>Da li ste ikada razmišljali o tome koliko novca izdvajate mjesecno za prijevoz?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <span class="icon">
                                        <i class="icon-check"></i>
                                    </span>
                                    <div class="feature-copy">
                                        <p>Koliko puta vam se dogodilo da ne možete racunati na javni ili vlastiti prijevoz?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <span class="icon">
                                        <i class="icon-check"></i>
                                    </span>
                                    <div class="feature-copy">
                                        <p>Koliko puta ste se zatekli u velikoj gužvi na putu ka željenoj destinaciji?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <span class="icon">
                                        <i class="icon-check"></i>
                                    </span>
                                    <div class="feature-copy">
                                        <p>Koliko puta niste pronašli slobodno parking mjesto?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <span class="icon">
                                        <i class="icon-check"></i>
                                    </span>
                                    <div class="feature-copy">
                                        <p>Koliko puta ste zakasnili?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                        <img src="../../Content/profilne/34.jpeg" alt="mobileApp" class="img-responsive" usemap="#phonemap">
                        <map name="phonemap">
                            <area shape="rect" coords="142,396,401,477" alt="android" href="https://play.google.com/store/apps">
                            <area shape="rect" coords="142,576,401,651" alt="iphone" href="https://itunes.apple.com/us/genre/ios/id36?mt=8">
                        </map>
                    </div>
                </div>
            </div>
        </div>



        <div class="my-section" id="my-faq" data-section="faq">
            <div class="my-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2 text-center my-heading">
                        <h2>Frequently Ask Questions</h2>
                        <p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="my-accordion">
                            <div class="my-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Pitanje 1</h3>
                            </div>
                            <div class="my-accordion-content">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor faucibus tempor. Donec sed porta felis, nec malesuada mauris. Donec vitae arcu at lorem ullamcorper vehicula. Quisque eu felis non tortor fringilla placerat. Sed pulvinar, ante eget tristique lobortis, magna magna aliquet mauris, eu tempor lacus metus id orci. Mauris non nunc dignissim, faucibus tellus eu, laoreet velit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-accordion">
                            <div class="my-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Pitanje 2</h3>
                            </div>
                            <div class="my-accordion-content">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor faucibus tempor. Donec sed porta felis, nec malesuada mauris. Donec vitae arcu at lorem ullamcorper vehicula. Quisque eu felis non tortor fringilla placerat. Sed pulvinar, ante eget tristique lobortis, magna magna aliquet mauris, eu tempor lacus metus id orci. Mauris non nunc dignissim, faucibus tellus eu, laoreet velit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-accordion">
                            <div class="my-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Pitanje 3</h3>
                            </div>
                            <div class="my-accordion-content">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor faucibus tempor. Donec sed porta felis, nec malesuada mauris. Donec vitae arcu at lorem ullamcorper vehicula. Quisque eu felis non tortor fringilla placerat. Sed pulvinar, ante eget tristique lobortis, magna magna aliquet mauris, eu tempor lacus metus id orci. Mauris non nunc dignissim, faucibus tellus eu, laoreet velit.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="my-accordion">
                            <div class="my-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Pitanje 4</h3>
                            </div>
                            <div class="my-accordion-content">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor faucibus tempor. Donec sed porta felis, nec malesuada mauris. Donec vitae arcu at lorem ullamcorper vehicula. Quisque eu felis non tortor fringilla placerat. Sed pulvinar, ante eget tristique lobortis, magna magna aliquet mauris, eu tempor lacus metus id orci. Mauris non nunc dignissim, faucibus tellus eu, laoreet velit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-accordion">
                            <div class="my-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Pitanje 5</h3>
                            </div>
                            <div class="my-accordion-content">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor faucibus tempor. Donec sed porta felis, nec malesuada mauris. Donec vitae arcu at lorem ullamcorper vehicula. Quisque eu felis non tortor fringilla placerat. Sed pulvinar, ante eget tristique lobortis, magna magna aliquet mauris, eu tempor lacus metus id orci. Mauris non nunc dignissim, faucibus tellus eu, laoreet velit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-accordion">
                            <div class="my-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Pitanje 6</h3>
                            </div>
                            <div class="my-accordion-content">
                                <div class="inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor faucibus tempor. Donec sed porta felis, nec malesuada mauris. Donec vitae arcu at lorem ullamcorper vehicula. Quisque eu felis non tortor fringilla placerat. Sed pulvinar, ante eget tristique lobortis, magna magna aliquet mauris, eu tempor lacus metus id orci. Mauris non nunc dignissim, faucibus tellus eu, laoreet velit.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="my-contact" data-section="contact" class="my-cover my-cover-xs" style="background-image:url(../../Content/profilne/34.jpeg);">
            <div class="overlay"></div>
            <div class="my-container">
                <div class="row text-center">
                    <div class="display-t">
                        <div class="display-tc">
                            <div class="col-md-12">
                                <h3>Kontaktirajte nas na <a href="#">info@dokle.ba</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer id="my-footer" role="contentinfo">
            <div class="my-container">
                <div class="row row-pb-md">

                    <div class="col-md-4">
                        <div class="my-widget">
                            <h3>O nama</h3>
                            <p>Projekat dokle.ba se temelji na ideji virtualne zajednice za razmjenu prijevoza koja vozace sa slobodnim mjestima u autu povezuje sa putnicima kojima je potreban prijevoz. Na ovaj nacin se svim clanovima dokle.ba zajednice omogucava društveno, štedljivo i ucinkovitije putovanje (ostvarujuci i ekološki znacaj).</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-md-push-1">
                        <div class="my-widget">
                            <h3>Linkovi</h3>
                            <ul class="my-footer-links">
                                <li><a href="#">Sponzori</a></li>
                                <li><a href="#">Aktivnosti</a></li>
                                <li><a href="#">Podržite nas</a></li>
                                <li><a href="#">Uslovi korištenja</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="my-widget">
                            <h3>Get In Touch</h3>
                            <ul class="my-quick-contact">
                                <li><a href="#"><i class="icon-phone"></i> +387 62 546 963</a></li>
                                <li><a href="#"><i class="icon-mail2"></i> info@dokle.ba</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="pull-left">
                            <small class="block">&copy; 2017. Sva prava zadržana.</small>
                        </p>
                        <p class="pull-right">
                            <ul class="my-social-icons pull-right">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="../js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/magnific-popup-options.js"></script>

    <script>
        var typed = new Typed('#typed', {
            strings: ["Trebaš prijevoz?", "Poveži se.", "Budi dio priče!"],
            typeSpeed: 90,
            backSpeed: 10,
            loop: true
        });
    </script>

</body>
</html>




